*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/AndroidManifest.xml
/app/src/debug
/app/src/release
/app/src/test
/app/src/androidTest
/app/src/main/res
/gradle
gradle.properties
gradlew
